In [1]:
import pandas as pd
import numpy as np

In [17]:
df_stops = pd.read_csv('stops.csv')
df_stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,32769,151131,Forest Office Road,NaN,18.51983,73.63158,NaN,NaN,NaN,NaN,NaN,NaN
1,32770,152339,Kusalkar Putala,NaN,18.52889,73.82708,NaN,NaN,NaN,NaN,NaN,NaN
2,32771,154648,Tower Line,NaN,18.67007,73.78613,NaN,NaN,NaN,NaN,NaN,NaN
3,32772,153069,Nehrunagar Depot,NaN,18.62930,73.81942,NaN,NaN,NaN,NaN,NaN,NaN
4,32773,151724,Jagtap Chowk,NaN,18.49153,73.90019,NaN,NaN,NaN,NaN,NaN,NaN
5,32774,150534,Bhosalevasti Nagar Road,NaN,18.71115,74.04588,NaN,NaN,NaN,NaN,NaN,NaN
6,32775,152190,Kirkatwadi Phata,NaN,18.44996,73.79089,NaN,NaN,NaN,NaN,NaN,NaN
7,32776,150995,Dhayari Phata,NaN,18.46107,73.81317,NaN,NaN,NaN,NaN,NaN,NaN
8,32778,154748,Vadhu Bk,NaN,18.66617,74.03972,NaN,NaN,NaN,NaN,NaN,NaN
9,32779,152694,Masulkar Colony,NaN,18.63368,73.80691,NaN,NaN,NaN,NaN,NaN,NaN
10,32781,150411,Bedekar Ganpati Mandir,NaN,18.51154,73.81720,NaN,NaN,NaN,NaN,NaN,NaN
11,32782,150465,Bhandarkar Road,NaN,18.51485,73.82880,NaN,NaN,NaN,NaN,NaN,NaN
12,32783,150620,Budhrani Hospital,NaN,18.53300,73.88619,NaN,NaN,NaN,NaN,NaN,NaN
13,32786,152307,Kulkarni Petrol Pump,NaN,18.51301,73.84442,NaN,NaN,NaN,NaN,NaN,NaN
14,32787,152687,Maruti Mandir Vajewadi,NaN,18.72614,74.04912,NaN,NaN,NaN,NaN,NaN,NaN
15,32790,151124,Fatima Nagar Wanowrie,NaN,18.50629,73.90107,NaN,NaN,NaN,NaN,NaN,NaN
16,32792,154659,Trimurti Hall,NaN,18.65314,73.77467,NaN,NaN,NaN,NaN,NaN,NaN
17,32793,153920,Sandesh Model Colony,NaN,18.71611,73.84864,NaN,NaN,NaN,NaN,NaN,NaN
18,32794,150811,D2 Circle,NaN,18.45031,73.75115,NaN,NaN,NaN,NaN,NaN,NaN
19,32796,154090,Sharwari Complex,NaN,18.62335,73.68673,NaN,NaN,NaN,NaN,NaN,NaN
20,32797,151853,Jyoti English School,NaN,18.63077,73.82371,NaN,NaN,NaN,NaN,NaN,NaN
21,32798,152078,Kedarinagar,NaN,18.48880,73.90011,NaN,NaN,NaN,NaN,NaN,NaN
22,32799,154071,Shaniwarwada,NaN,18.52129,73.85528,NaN,NaN,NaN,NaN,NaN,NaN
23,32800,150693,Chaudharivasti Nagar Road,NaN,18.68797,74.04313,NaN,NaN,NaN,NaN,NaN,NaN
24,32801,151068,Durvankur Bungalow,NaN,18.49001,73.82566,NaN,NaN,NaN,NaN,NaN,NaN
25,32805,153486,Pradhikaran Police Chowky,NaN,18.65062,73.76714,NaN,NaN,NaN,NaN,NaN,NaN
26,32807,151306,Gavkos Maruti,NaN,18.52088,73.86135,NaN,NaN,NaN,NaN,NaN,NaN
27,32808,152093,Kemsewadi Shala,NaN,18.58329,73.61864,NaN,NaN,NaN,NaN,NaN,NaN
28,32810,154674,Tulsi Chemicals,NaN,18.62798,73.83203,NaN,NaN,NaN,NaN,NaN,NaN
29,32811,155037,Yerawada,NaN,18.54528,73.88416,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5594,16337,134931,Chandani Chowk,NaN,18.50770,73.78396,NaN,NaN,NaN,NaN,NaN,NaN
5595,32722,152579,Malwadi Kunjirwadi,NaN,18.48276,74.07164,NaN,NaN,NaN,NaN,NaN,NaN
5596,32725,154832,Vidhyapeeth Press,NaN,18.54781,73.82808,NaN,NaN,NaN,NaN,NaN,NaN
5597,32726,152876,Moshigaon,NaN,18.67722,73.84993,NaN,NaN,NaN,NaN,NaN,NaN
5598,32727,150849,Dapodi,NaN,18.57907,73.82969,NaN,NaN,NaN,NaN,NaN,NaN
5599,32728,151578,Hirabaug,NaN,18.50437,73.85491,NaN,NaN,NaN,NaN,NaN,NaN
5600,32730,153820,Sadhwi Kendra,NaN,18.44388,73.85301,NaN,NaN,NaN,NaN,NaN,NaN
5601,32731,153270,Pashan Tank Rasta,NaN,18.52692,73.79035,NaN,NaN,NaN,NaN,NaN,NaN
5602,32733,153964,Sant Namdev Vidyalay,NaN,18.49223,73.86543,NaN,NaN,NaN,NaN,NaN,NaN
5603,32735,150067,Ahiregaon Phata,NaN,18.45491,73.74466,NaN,NaN,NaN,NaN,NaN,NaN
5604,32736,150283,Avinash Mangal Karyalay,NaN,18.61588,73.78658,NaN,NaN,NaN,NaN,NaN,NaN
5605,32737,150650,Century Enka Company,NaN,18.62459,73.83720,NaN,NaN,NaN,NaN,NaN,NaN
5606,32738,153911,Sanakta Company,NaN,18.51715,73.64905,NaN,NaN,NaN,NaN,NaN,NaN
5607,32740,154950,Waghjai Mandir,NaN,18.41264,73.85824,NaN,NaN,NaN,NaN,NaN,NaN
5608,32742,152702,Mate Pat,NaN,18.45762,73.80560,NaN,NaN,NaN,NaN,NaN,NaN
5609,32743,150571,Bijalinagar Corner,NaN,18.64462,73.77243,NaN,NaN,NaN,NaN,NaN,NaN
5610,32744,150857,Date Engineering,NaN,18.50294,73.82924,NaN,NaN,NaN,NaN,NaN,NaN
5611,32745,151992,Karnatak Highschool,NaN,18.50147,73.82642,NaN,NaN,NaN,NaN,NaN,NaN
5612,32746,152846,Mohannagar Dhankawadi,NaN,18.46021,73.84870,NaN,NaN,NaN,NaN,NaN,NaN
5613,32748,154687,Undrigaon Shala,NaN,18.45070,73.91562,NaN,NaN,NaN,NaN,NaN,NaN
5614,32749,150870,Dattamandir Paud Road,NaN,18.51488,73.65172,NaN,NaN,NaN,NaN,NaN,NaN
5615,32750,154498,Swarajnagari,NaN,18.72917,73.65794,NaN,NaN,NaN,NaN,NaN,NaN
5616,32752,152070,Kawadenagar,NaN,18.51725,73.90688,NaN,NaN,NaN,NaN,NaN,NaN
5617,32754,151941,Kalwad,NaN,18.58532,73.90509,NaN,NaN,NaN,NaN,NaN,NaN
5618,32756,152300,Kudalwadi Corner,NaN,18.67059,73.81551,NaN,NaN,NaN,NaN,NaN,NaN
5619,32759,154400,Stage Kramank 6,NaN,18.42101,73.85842,NaN,NaN,NaN,NaN,NaN,NaN
5620,32760,153041,NCL Colony,NaN,18.54002,73.81678,NaN,NaN,NaN,NaN,NaN,NaN
5621,32761,153900,Samarth Vidyalay,NaN,18.73266,73.66366,NaN,NaN,NaN,NaN,NaN,NaN
5622,32762,150262,Aswee Trading Company,NaN,18.43444,73.86860,NaN,NaN,NaN,NaN,NaN,NaN
5623,32764,151246,Gangadham Corner,NaN,18.48015,73.87253,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_stops[['stop_lat','stop_lon']].isna().any()

stop_lat    False
stop_lon    False
dtype: bool

In [19]:
df_stops.dropna(axis=1,inplace=True)
df_stops.head()

   stop_id stop_code           stop_name  stop_lat  stop_lon
0    32769    151131  Forest Office Road  18.51983  73.63158
1    32770    152339     Kusalkar Putala  18.52889  73.82708
2    32771    154648          Tower Line  18.67007  73.78613
3    32772    153069    Nehrunagar Depot  18.62930  73.81942
4    32773    151724        Jagtap Chowk  18.49153  73.90019

In [21]:
df_stops.drop(columns=['stop_code','stop_id'],inplace=True)
df_stops.head()

            stop_name  stop_lat  stop_lon
0  Forest Office Road  18.51983  73.63158
1     Kusalkar Putala  18.52889  73.82708
2          Tower Line  18.67007  73.78613
3    Nehrunagar Depot  18.62930  73.81942
4        Jagtap Chowk  18.49153  73.90019