# Analyzing business potential of areas in Pune, India

In [70]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import requests

In [74]:
def get_coordinates(address_list):
    geolocator = Nominatim(user_agent="wain")
    locations = pd.DataFrame(columns=['Area name', 'latitude', 'longitude'])
    for address in address_list:
        try:
            location = geolocator.geocode(address)
            latitude = location.latitude
            longitude = location.longitude
        except:
            latitude = 'Address not found'
            longitude = 'Address not found'
        locations = locations.append(
            {
                'Area name': address,
                'latitude': latitude,
                'longitude': longitude
            },
            ignore_index=True)
    return locations

In [166]:
address = ['Shankar Kalat nagar','Pimpri-Chinchwad','Aundh,Pune','Kothrud','Koregaon Park']
locations = get_coordinates(address)
locations

             Area name   latitude  longitude
0  Shankar Kalat nagar  18.604093  73.754065
1     Pimpri-Chinchwad  18.627929  73.800983
2           Aundh,Pune  18.561883  73.810196
3              Kothrud  18.503889  73.807673
4        Koregaon Park  18.537553  73.893925

In [76]:
# hide this cell
# credential foursquare API
CLIENT_ID = 'DMMNDCKP4HCEBKNG0OZUKP4HQ4G2ARKETXFJLZOI1DY001IT' # your Foursquare ID
CLIENT_SECRET = 'BNOTBJCDHCHRJ3Z1EAMLB0TXSCA4RUH1HSABRTIV33ERSMAM' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [112]:
import json
from pandas.io.json import json_normalize

In [121]:
def get_venues(lat, lon):
    LIMIT = 100
    radius = 5000
    try:
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lon, 
            radius, 
            LIMIT)
        results = requests.get(url).json()
        venues = results['response']['groups'][0]['items']
        nearby_venues = json_normalize(venues) # flatten JSON
        filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
        nearby_venues =nearby_venues.loc[:, filtered_columns]
        nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)
        nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]    
        
    except:
        return None
            
    return nearby_venues

In [122]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [190]:
df_venues = pd.DataFrame(columns=['name','categories','lat','lng'])
for i in range (0,len(locations.index)):
    df_venues = df_venues.append(get_venues(locations.latitude[i],locations.longitude[i]))

In [200]:
print(df_venues.shape)
df_venues.nunique()

(492, 4)

name          361
categories     98
lat           424
lng           423
dtype: int64

In [199]:
df_venues.head()

                    name          categories        lat        lng
0                 Sayaji               Hotel  18.599535  73.754995
1      Natural Ice Cream      Ice Cream Shop  18.591192  73.752440
2        Barbeque Nation           BBQ Joint  18.599390  73.755090
3  Courtyard by Marriott               Hotel  18.591527  73.746831
4           Little Italy  Italian Restaurant  18.591513  73.743668